.page-three > .mobile {
  display: none;
}

.page-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  height: max-content;
  padding-top: 5%;
}

.page-three > h2 {
  justify-self: center;
  font-family: barlow-condensed-light;
  font-size: 64px;
}

.page-three > h2::after {
  display: block;
  content: " ";
  background-color: #7443FF;
  width: 100%;
  height: 5px;
}

.page-three > .desktop {
  display: flex;
  padding: 5% 10%;
  gap: auto 30%;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-around;
}

.desktop > img {
  margin-bottom: 5%;
  height: 220px;
  width: auto;
}


@media screen and (max-width: 845px) {
  .page-three > .mobile {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

  .page-three > .desktop {
    display: none;
  }

  .mobile > ul {
    list-style-type: none;
    font-size: 24px;
    padding-left: 0;
  }
}

@media screen and (max-width: 820px) {
  .page-three > h2 {
    font-size: 40px;
  }

}