.page-two {
  min-height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  color: white;
}

.page-two > h2 {
  font-family: barlow-condensed-light;
  font-size: 64px;
  align-self: center;
}

.page-two > h2::after {
  display: block;
  content: " ";
  background-color: #7443FF;
  width: 100%;
  height: 5px;
}

.project-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}