.project-preview {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  min-width: 380px;
  width: 30%;
}

.project-preview > img {
  height: 312px;
  width: auto;
}

.project-description {
  background-color: #1D1D1D;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:100%;
  height: auto;
  font-size: 32px;
  flex-grow: 1;
}

.links {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5%;
  justify-content: space-around;
  justify-self: flex-end;
}

.live-demo-link:link {
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.live-demo-link:visited {
  color: white;
  text-decoration: none;
}

.live-demo-link:link::after {
  display: block;
  content: " ";
  background-color: #7443FF;
  width: 0;
  height: 5px;
  transition: 0.25s;
} 

.live-demo-link:link:hover:after{
  width: 100%;
}

.gh-logo {
  width: 32px;
  height: 32px;
}

.yt-logo {
  height: 25px;
  width: 111px;
}

.yt-link {
  max-width: 100%;
  max-height: max-content;
}

p {
  word-break: normal;
  white-space: normal;
  margin: 5%;
}

@media screen and (max-width: 800px) {
  .project-description {
    font-size: 24px;
  }
  .live-demo-link:link::after {
    display: none;
  } 
}


@media screen and (max-width: 380px) {
  .project-preview > img {
    height: calc(max-content*0.7);
  }
  
  .links {
    display: flex;
    flex-direction: column;
  }

  .links > a {
    margin-bottom: 5%;
  }

  .live-demo-link:link::after {
    display: none;
  }

  .project-preview {
    min-width: 95%;
  }
}