html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

@font-face {
  font-family: barlow-condensed-light;
  src: url('./fonts/BarlowCondensed-Light.ttf');
}

.page-one {
  min-height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  background-color: black;
}

.name-and-title {
  position: absolute;
  justify-self: center;
  margin-top: auto;
  bottom: 100px;
}

.name-and-title > h1 {
  margin-left: 10%;
  font-size: 96px;
  color: #FFFFFF;
  font-family: barlow-condensed-light;
}

span.bar {
  display: block;
  margin-top: 45px;
  content: " ";
  width: calc(2 * 100%);
  height: 30px;
  background-color: #7443FF;
}

.name-and-title > h2 {
  font-family: barlow-condensed-light;
  font-size: 64px;
  margin-left: 10%;
  color: #FFFFFF;
}


@media screen and (max-width: 1382px) {

  span.bar {
    width: 100%;
  }
}

@media screen and (max-width: 820px) {

  span.bar {
    height: 10px;
    width: 100%;
    max-width: 300px;
  }

  .name-and-title > h1 {
    margin-top: 0;
    margin-left: 5%;
    font-size: 46px;
    word-break: normal;
  }

  .name-and-title > h2 {
    font-size: 36px;
    margin-left: 5%;
  }
}