html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

@font-face {
  font-family: barlow-condensed-light;
  src: url('./fonts/BarlowCondensed-Light.ttf');
}

.page-one {
  min-height: 100vh;
  width: auto;
  background-image: url('./images/page-one-bg.svg');
  background-size: 100%  ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.name-and-title > h1 {
  font-size: 80px;
  color: #C62368;
  font-family: barlow-condensed-light;
}

.name-and-title > h2 {
  font-family: barlow-condensed-light;
  font-size: 40px;
  margin-left: 5px;
}

.blob {
  border-color: black;
  width: 800px;
  animation-name: blob-movement;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  z-index: 1;
}

.nav-container {
  width: 50%;
}

.navbar {
  object-position: center;
  width: max-content;
  z-index: 2;
}

.navbar > ul {
  display: flex;
  flex-direction: column;
}

.navbar > ul > li {
  list-style-type: none;
  font-size: 250%;
  color: black;
  font-family: barlow-condensed-light;
  animation: navbar-item-out;
  animation-timing-function: ease;
  animation-duration: 0.25s;
  animation-fill-mode:forwards;
}

.navbar > ul > li:hover {
  animation: navbar-item-in;
  animation-timing-function: ease;
  animation-duration: 0.25s;
  animation-fill-mode:forwards;
}

@keyframes blob-movement {
   0% {
    transform: translate(0,0);
   } 
   50% {
    transform: translate(0, -50px);
   }
   100% {
    transform: translate(0,0);
   } 
  }

  @keyframes navbar-item-in {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(5%, 0);
    }
  }

  @keyframes navbar-item-out {
    from {
      transform: translate(5%, 0);
    }
    to {
      transform: translate(0, 0);
    }
  }